/* NAVBAR */

.nav{
  display: flex;
  flex-direction: column;

  padding: 50px 25px;

  background: #F8F8FF;

  .user{
    display: flex;
    align-items: center;
    gap: 20px;

    .user-info{
      h4 , h5{
        margin: 0;
      }
      .user-name{
          color: #1A194D;
          font: 16px;
          margin-bottom: 5px;
        }
      .user-at{
        color: #62618F;
        font: 14px;
      }
    }
  }


  .apps{
    ul{
      margin: 50px 0 0;
      padding: 0;
      li{
        display: flex;
        align-items: center;
        gap: 10px;

        padding: 15px 0;

        position: relative;

        transition: 500ms all;

        &:hover{
          cursor: pointer;

          &::before{
            content: "";
            position: absolute;
            top: 0;
            left: -10px;

            width: 5px;
            height: 100%;
            background: #EE6338;

            border-radius: 25px;
          }
        }

        a{
          font-size: 14px;
          color: #62618F;

          transition: 100ms color;

          &:hover{
            color: #1A194D;
          }
        }
      }
    }
  }


  .exit-menu{
    display: flex;
    align-items: center;

    margin-top: auto;

    gap: 10px;

    a{
      color: #62618F;
      font-size: 14px;
    }
  }
}

/* NAVBAR END */
