body{
  background-color: #010101  ;
  color: #252525;
  font-size: 20px;
  margin: 0;

  font-family: 'Poppins', sans-serif;
}

img{
  user-select: none;
}

::selection{
  background: #252525;
  color: #f1f1f1;
}


@media (max-width: 500px){
  main{
    display: grid;
    .content{
      .i{
        h1{
          font-size: 50px !important;
        }
      }
    }
  }
  .contact{
    ul{
      display: flex !important;
      flex-direction: column;
      align-items: normal !important;
      li{
        a{
          font-size: 20px !important;
          img{
            width: 30px !important;
          }
        }
      }
    }
  }
}


main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .content{
    .i{
      font-family: Arial , sans-serif;
      padding-bottom: 50px;
      text-align: center;
      h1{
        background: linear-gradient(10deg, black, white);
        background-position: top;
        background-clip: text;
        -webkit-background-clip: text;
        font-weight: 900;
        font-size: 100px;
        text-align: center;
        color: transparent;
        user-select: none;
        cursor: none;

        transition: 2s all;
        transition-delay: 250ms;

        font-family: 'Roboto' , sans-serif;
      }

      span{
        color: #404040;
      }
    }
  }

  .contact{
    ul{
      display: grid;
      grid-template-columns: repeat(4 , 1fr);
      align-items: center;
      justify-items: center;
      gap:50px;

      list-style-type: none;
      padding: 0;
      li{
        display: flex;
        flex-direction: column;
        a{
          position: relative;
          text-decoration: none;
          color: #5b5b5b;
          font-size: 18px;
          padding: 10px 0;

          &:after{
            content: "";
            transition: 750ms all;

            position: absolute;
            bottom: -10px;
            left: 0;

            display: block;

            font-size: 10px;
            width: 2em;
            height: 1em;
            border-top: 1px solid #e0e0e0;
          }

          &:hover{
            &:after{
              width: 100%;
            }
          }
        }
      }
    }
  }

}
