*{
    cursor: url("Baslıksız.png") , auto;
}

html{
    height: auto;
    width: auto;
}

body{
    height: auto;
    width: auto;
    background-color: #040D12;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    gap: 100px;
}

section{
    display: flex;
    flex-direction: column;
}

h1{
    color: #FFA41B;
    text-decoration: underline;
    margin: 10px;
    font-size: 35px;
    user-select: none;
}

a{
    position:relative;
    font-size: 29px;
    text-decoration: none;
    color: #a0a0a0;
    padding: 15px;
    transition: all 100ms;
    user-select: none;
}

a:after {
    content:"";
    transition: 250ms all;
    position:absolute;
    bottom:-10px;
    left:0;
    display:block;
    font-size:10px;
    width:1em;
    height:1em;
    border-top:1px solid orange;
}

a:hover:after {
    width:100%
}



#section1 a:hover{
    color: #F99417;
}

#section2 a:hover{
    color: blueviolet;
}

#section2 a:after {
    border-top:1px solid purple;
}



#tool{
    position: absolute;
    top: 20px;
    left: 20px;

    color:aliceblue;
    font-size: 29px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#mail:hover{
    color: cornflowerblue;
}

#copy{
    color:#aaa;
    user-select: none;
    padding: 20px 0px;
}