/* FOOTER START */

.footer{
  background: #000000;
  padding: 70px 25px;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .first-area{
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid rgba(255, 255, 255, .05);

    .lists{
      display: flex;
      gap: 40px;

      font-size: 14px;

      ul{
        padding: 0;
        li{
          padding: 10px 0;
          color: rgba(255, 255, 255, .5);

          letter-spacing: 1.2px;

          transition: 100ms all;

          &:hover:not(:first-child){
            color: #fff;
            transform: scale(1.05);
            cursor: pointer;
          }

          &:first-child{
            color: #fff;
            text-transform: uppercase;
          }
        }
      }
    }

    .box{
      display: flex;
      flex-direction: column;

      h5{
        font-size: 20px;
        letter-spacing: .5px;
        margin: 30px 0 15px;
      }

      input{
        border: none;
        outline: none;
        background: #21252d;
        color: #fff;
        width: 375px;
        height: 50px;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 5px;

        &:hover::placeholder{
          color: #f0f0f0;
        }
      }
    }
  }


  .second-area{
    padding: 20px 0;
    span{
      color: rgba(255, 255, 255, .5);
      &:first-child{
        margin-right: 10px;
      }
    }
  }

}

/* FOOTER END */
