/* RESET AND NORMALIZE START */

html , body{
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica, helvetica neue, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;  
}

body{
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
}

input{
  outline: none;
  border: 1px solid;
}

ul{
  list-style-type: none;
}

section{
  padding: 0 100px;
}

::selection{
  background: #aaa;
  color: #000000;
}

/* RESET AND NORMALIZE END */


/* IMPORTS START */

@import "header.scss";
@import "section-one.scss";
@import "article.scss";
@import "footer.scss";

/* IMPORTS END */
